.properties-page h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px 0 !important;
}
.properties-page-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin: 0 100px;
}
.property-image-container {
  position: relative;
}

.property-image-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  position: relative;
}

.property-category {
  position: absolute !important;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9em;
}

.property-posted-date {
  position: absolute ;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-style: italic;
}
.property-page-card {
  border: 1px solid #ddd;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  text-decoration: none;
  position: relative ;
}
.property-page-card:hover {
  cursor: pointer;
  background-color: rgba(255, 223, 40, 0.589);
  transition: ease-in-out 0.3s;
}
.property-page-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.property-page-card img:hover {
  background-color: rgb(10, 10, 10, 0.6);
}

.property-page-info {
  padding: 15px;
  color: #777;
}

.property-page-type {
  font-weight: bold;
}

.property-page-type.featured-page {
  color: red;
}

.property-page-price {
  display: block;
  font-size: 1.2em;
  margin: 10px 0;
}

.property-price-detail {
  display: block;
  font-size: 0.9em;
  color: #777;
  text-decoration: none !important;
}

.property-page-name {
  margin: 10px 0 5px;
  text-align: left;
}

.property-page-address {
  font-size: 0.9em;
  color: #555;
  text-align: left;
}

.property-page-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.property-page-detail {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .properties-page-list {
    margin: 0 20px;
  }
  .property-page-card {
    overflow: hidden;
    width: 100%;
  }
}
