.siteNav {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: #131618;
}

.logo {
  display: flex;
  height: 70px;
  width: 90px;
  margin-top: 0;
  margin-bottom: -5%;
}
.site-navigation {
  display: flex !important;
}
.menuBgWrap {
  background-color: #131618;
}

.siteNavigation .siteMenu {
  margin-bottom: 0;
}

.siteNavigation .siteMenu > li {
  display: inline-block;
}

.siteNavigation .siteMenu > li > a {
  font-size: 14px;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none !important;
  color: #cc9900;
}

.siteNavigation .siteMenu > li > a:hover {
  color: #fff;
}

.siteNavigation .siteMenu > li.active > a {
  color: #fff;
}
